altgraph==0.17.4
pefile==2023.2.7
pillow==11.0.0
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
pywin32==305.1
pywin32-ctypes==0.2.3
setuptools==75.1.0
ttkbootstrap==1.10.1
ttkthemes==3.2.2
wheel==0.44.0
